* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: relative;
    box-shadow: 2px 4px 6px 0px gray;
}

nav .logo {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

nav .nav-toggle {
    display: none; 
}

nav .nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 55%;
}

nav .nav-list li {
    margin: 0 10px;
    width:120px;
    height:30px;
}

nav .nav-list a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s 0.3s;
}

nav .nav-list a:hover {
    color:orangered;
    font-size:22px; 
}

@media (max-width: 768px) {
    nav .search-form {
        display: none;
    }

    nav {
        padding: 0 10px;
        width:100%;
    }

    nav .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 100%;
        left: 0;
        background-color:rgb(223, 220, 220);
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    nav .nav-list.active {
        display: flex;
    }

    nav .nav-list li {
        margin: 10px 0;
        justify-content: center;
    }

    nav .nav-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: none;
        border: none;
        color: #333;
        font-size: 35px;
    }

    nav .nav-toggle i {
        margin: 3px 0;
    }
}